body{
margin:0;
padding:0;
background-color:rgba(243,243,243,1);
font-family: "Muli";
font-weight: normal;
cursor: default;
color: #555;
outline: none;
text-rendering: optimizeLegibility;
}
.menu{
width:100%;
height:6.2vw;
background-color:rgba(255,255,255,1);
position: fixed;
top:0;
left:0;
z-index:2;
}
.menu-container{
width:84vw;
height:6.2vw;
background-color:rgba(255,0,0,0);
margin:0 auto;
}
.menu-logo{
width:16vw;
height:100%;
background-color:rgba(255,0,0,0);
float:left;
background-image: url("../img/14.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: auto 3.7vw;
}
.menu-btn{
width:auto;
height:100%;
background-color:rgba(255,0,0,0);
float:right;
padding-left: 2vw;
padding-right: 2vw;
line-height: 6.2vw;
font-size: 0.9vw;
cursor: pointer;
color: rgb(178, 179, 180);
font-weight: 800;
}
.btn{
width:16.4vw;
height:4vw;
background-color: rgba(255,0,0,0);
cursor: pointer;
}
.btn-base{
width:15.7vw;
height:3.3vw;
background-color:rgb(54, 61, 135);
position: absolute;
margin-top: 0.5vw;
margin-left: 0.4vw;
transition:all 0.1s ease-in-out;
}
.btn-up{
width:15.7vw;
height:3.3vw;
background-color:rgb(239,66,111);
position: absolute;
margin-top: 0vw;
margin-left: 0vw;
text-align: center;
line-height: 3.3vw;
color: white;
text-transform: uppercase;
font-size: 1vw;
}
.btn:hover .btn-base{
margin-top: 0.2vw;
margin-left: 0.2vw;
transition:all 0.1s ease-in-out;
}
.div01{
width:100%;
height:27.2vw;
background-color:rgba(255,255,255,1);
margin-top: 6.2vw;
}
.div01-txt-campo{
width:21vw;
background-color:rgba(255,0,0,0);
position: absolute;
margin-left: 19.5vw;
margin-top: 4.3vw;
}
.div01-titulo{
width:100%;
height:7vw;
background-color:rgba(255,0,0,0);
font-size: 2.5vw;
line-height: 3.1vw;
}
.div01-txt{
width:100%;
height:auto;
background-color:rgba(255,0,0,0);
margin-top: 0.3vw;
font-size: 1vw;
line-height: 1.6vw;
}
.div01-img{
width:49.2vw;
height:32.3vw;
background-color:rgba(255,0,0,0);
position: absolute;
margin-top: 0vw;
right: 0vw;
background-image: url("../img/05.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
}
.div01-triangulo{
width:3.7vw;
height:3.3vw;
background-color:rgba(255,0,0,0);
position: absolute;
margin-top: 30.7vw;
right: 9.3vw;
background-image: url("../img/poligono5.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
}
.div01-btn{
margin-top:1.8vw;
}
.whatsapp{
width:3.4vw;
height:3.4vw;
background-color:rgba(255,255,255,1);
position: fixed;
right: 4.1vw;
top: 41.1vw;
border-radius: 5vw;
background-image: url("../img/whatsapp.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: auto 1.5vw;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
cursor: pointer;
}
.col{
width:50%;
height:100%;
float:left;
}
.fundo02{
width:100%;
height:27.3vw;
background-color:rgb(0, 191, 111);
}
.fundo03{
width:100%;
height:34.6vw;
background-color:rgba(255,255,255,1);
}
.fundo04{
width:100%;
height:21.7vw;
background-color:rgba(255,255,255,1);
}
.fundo04-col{
background-color:rgb(0, 191, 111);
}
.fundo05{
width:100%;
height:29.4vw;
background-color:rgba(255,255,255,1);
}
.fundo05-col{
height:21.5vw;
background-color:rgba(239, 66, 111,1);
}
.fundo06{
width:100%;
height:21.6vw;
background-color:rgba(255,255,255,1);
}
.fundo06-col{
background-color:rgb(54, 61, 135);
}
.fundo07{
width:100%;
height:46.7vw;
background-color:rgba(255,255,255,1);
}
.fundo07-col{
background-color:rgb(242, 242, 242);
height:38.9vw;
margin-top: 7.8vw;
}
.fundo08{
width:100%;
height:62.7vw;
background-color:rgb(42, 46, 49);
}
.fundo09{
width:100%;
height:17.3vw;
background-color:rgb(242, 242, 242);
}
.container{
width:60.5vw;
height:auto;
background-color:rgba(255,255,0,0);
position: absolute;
top:43.2vw;
left: 50%;
transform: translate(-50%);
overflow: hidden;
}
.div02{
width:100%;
height:21.8vw;
background-color:rgba(255,0,0,0);
}
.div02-card{
width:40vw;
height:21.8vw;
background-color:rgba(255,255,255,1);
float:left;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.1);
}
.div02-card-azul{
width:0.7vw;
height:4.6vw;
background-color:rgba(54,61,135,1);
position:absolute;
margin-top: 4.2vw;
}
.div02-card-texto{
width:20vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 5vw;
margin-top: 1vw;
font-size: 1vw;
line-height: 1.6vw;
color: rgba(42,46,49,1);
}
.div02-card-titulo{
width:19vw;
height:auto;
background-color:rgba(239,66,111,0);
margin-left: 5.2vw;
margin-top: 3.8vw;
font-size: 1.9vw;
font-weight: 800;
line-height: 2.6vw;
color: rgba(239,66,111,1);
}
.div02-video{
width:29.4vw;
height:17.6vw;
background-color:rgba(255,0,0,0);
float:left;
margin-left: -9vw;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0);
cursor:pointer;
background-image:url("../img/03.jpg");
background-repeat:no-repeat;
background-position:center center;
background-size:100% auto;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
transition:all 0.1s ease-in-out;
}
.div02-video-play{
width:4.8vw;
height:4.8vw;
background-color:rgba(255,0,0,0);
margin-top:5.8vw;
margin-left: 11.7vw;
border-radius: 10vw;
border: 0.5vw solid rgb(239, 66, 111);
background-image: url("../img/play.svg");
background-repeat: no-repeat;
background-position: 1.5vw center;
background-size: auto 2.6vw;
position: relative;
transition:all 0.1s ease-in-out;
}
.div02-video-lente{
width:29.4vw;
height:17.6vw;
background-color:rgba(0,0,0,0.6);
position:absolute;
}
.div02-video:hover{
background-size:120% auto;
transition:all 0.1s ease-in-out;
}
.div02-video:hover .div02-video-play{
background-color:rgb(239, 66, 111);
transition:all 0.1s ease-in-out;
}
.div03{
width:100%;
height:24vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div03-titulo01{
width:25vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-top: 9.6vw;
font-size: 2.5vw;
line-height: 3vw;
font-weight: 600;
color: rgb(42, 46, 49);
}
.div03-menina{
width:17vw;
height:26vw;
background-color:rgba(255,0,0,0);
float:right;
margin-top: -2vw;
background-image: url("../img/13.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: auto 28vw;
}
.div04{
width:100%;
height:31vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div04-col{
width:50%;
height:100%;
background-color:rgba(255,0,0,0);
float:left;
}
.div04-foto{
width:100%;
height:15.5vw;
background-color:rgba(255,0,0,0);
float:left;
margin-top: -1.4vw;
background-image: url("../img/11.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
}
.div04-txt{
width:21vw;
height:auto;
background-color:rgba(255,0,0,0);
margin-top: 2.9vw;
font-weight: 600;
font-size: 1.5vw;
line-height: 1.9vw;
float: left;
}
.div04-txt span{
color:white;
}
.div04-btn{
width:100%;
height:auto;
background-color:rgba(255,0,0,0);
float: left;
margin-top: 3.3vw;
overflow: hidden;
}
.div04-painel{
width:21vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 5vw;
margin-top: 4vw;
}
.div04-painel-ln{
width:100%;
height:6vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div04-painel-icone{
width:5vw;
height:100%;
background-color:rgba(255,0,0,0);
float:left;
background-repeat: no-repeat;
background-position: center center;
background-size: auto 3.6vw;
}
.div04-painel-txt{
width:14vw;
height:5vw;
background-color:rgba(255,0,0,0);
float:left;
font-size: 0.9vw;
line-height: 1.4vw;
padding-top: 0.5vw;
padding-bottom: 0.5vw;
padding-left: 1vw;
padding-right: 1vw;
}
.div05{
width:100%;
height:30vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div05-col{
width:50%;
height:100%;
float:left;
}
.div05-painel{
width:28vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 0vw;
margin-top: 2vw;
}
.div05-painel-ln{
width:100%;
height:7vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div05-painel-icone{
width:4vw;
height:7vw;
background-color:rgba(255,0,0,0);
float:left;
background-repeat: no-repeat;
background-position: center center;
background-size: auto 3.6vw;
}
.div05-painel-txt{
width:19vw;
height:5vw;
background-color:rgba(255,0,0,0);
float:left;
font-size: 0.9vw;
line-height: 1.4vw;
padding-top: 0.5vw;
padding-bottom: 0.5vw;
padding-left: 1vw;
padding-right: 1vw;
}
.div05-foto{
width:30vw;
height:15.5vw;
background-color:rgba(255,0,0,0);
float:left;
margin-top: 4.2vw;
background-image: url("../img/02.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
}
.div05-btn{
width:17vw;
height:5vw;
background-color:rgba(255,0,0,0);
float:left;
margin-top: -1.5vw;
margin-left: 5.7vw;
}
.div05-txt{
width:20vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
color:white;
margin-left: 5.8vw;
margin-top: 1vw;
font-size: 1.5vw;
font-weight: 800;
}
.div05-txt span{
color:yellow;
}
.div06{
width:100%;
height:30vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div06-col{
width:50%;
height:100%;
float:left;
}
.div06-painel{
width:21vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 5vw;
margin-top: 1.5vw;
}
.div06-painel-ln{
width:100%;
height:6vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div06-painel-icone{
width:5vw;
height:100%;
background-color:rgba(255,0,0,0);
float:left;
background-repeat: no-repeat;
background-position: center center;
background-size: auto 3.6vw;
}
.div06-painel-txt{
width:14vw;
height:5vw;
background-color:rgba(255,0,0,0);
float:left;
font-size: 0.9vw;
line-height: 1.4vw;
padding-top: 0.5vw;
padding-bottom: 0.5vw;
padding-left: 1vw;
padding-right: 1vw;
}
.div06-foto{
width:30vw;
height:15.5vw;
background-color:rgba(255,0,0,0);
float:right;
margin-top: 4.1vw;
background-image: url("../img/07.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
}
.div06-btn{
width:17vw;
height:5vw;
background-color:rgba(255,0,0,0);
float:left;
margin-top: -2vw;
margin-left: 7.5vw;
}
.div06-txt{
width:21.2vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
color:white;
margin-left: 0vw;
margin-top: 0.3vw;
font-size: 1.5vw;
font-weight: 800;
}
.div06-txt span{
color:rgb(239,66,111);
}
.div07{
width:100%;
height:12vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div07-titulo{
width:25vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-top: 2.7vw;
font-size: 2.5vw;
line-height: 3vw;
font-weight: 600;
color: rgb(42, 46, 49);
}
.div07-img{
width:17vw;
height:12.3vw;
background-color:rgba(255,0,0,0);
float:left;
margin-top: -5.7vw;
background-image: url("../img/sofa.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: auto 12.1vw;
margin-left: 13.1vw;
}
.div07-triangulo{
width:3.8vw;
height:3.8vw;
background-color:rgba(255,0,0,0);
float:right;
margin-top: -5.7vw;
background-image: url("../img/poligono20.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
}
.div08{
width:100%;
height:30vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div08-card{
width:19.1vw;
height:27.8vw;
background-color:rgba(255,255,255,1);
float:left;
margin-right: 1.5vw;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.1);
}
.div08 .div08-card:last-child{
margin-right: 0vw;
}
.div08-card-container{
width:15vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 2.1vw;
}
.div08-titulo-rosa{
width:100%;
height:7.8vw;
background-color:rgba(255,0,0,0);
float:left;
border-bottom: 0.1vw solid rgb(224, 224, 224);
text-align: center;
line-height: 9.6vw;
font-size: 1.5vw;
font-weight: 900;
color:rgba(239,66,111,1);
}
.div08-titulo-verde{
width:100%;
height:7.8vw;
background-color:rgba(255,0,0,0);
float:left;
border-bottom: 0.1vw solid rgb(224, 224, 224);
text-align: center;
line-height: 9.6vw;
font-size: 1.5vw;
font-weight: 900;
color:rgba(0,191,111,1);
}
.div08-titulo-azul{
width:100%;
height:7.8vw;
background-color:rgba(255,0,0,0);
float:left;
border-bottom: 0.1vw solid rgb(224, 224, 224);
text-align: center;
line-height: 9.6vw;
font-size: 1.5vw;
font-weight: 900;
color:rgba(0,169,224,1);
}
.div08-txt{
width:100%;
height:9.8vw;
background-color:rgba(255,0,0,0);
float:left;
font-size: 1vw;
line-height: 1.5vw;
padding-top: 2.3vw;
}
.div08-logo{
width:100%;
height:7.8vw;
background-color:rgba(255,0,0,0);
float:left;
background-repeat: no-repeat;
background-position: center center;
}
.div08-retangulo-rosa{
width:100%;
height:0.5vw;
background-color:rgba(239,66,111,1);
float:left;
}
.div08-retangulo-verde{
width:100%;
height:0.5vw;
background-color:rgba(0,191,111,1);
float:left;
}
.div08-retangulo-azul{
width:100%;
height:0.5vw;
background-color:rgba(0,169,224,1);
float:left;
}
.div09{
width:100%;
height:50.4vw;
background-color:rgba(255,0,0,0);
float:left;
}
.div09-titulo{
width:100%;
height:9.5vw;
background-color:rgba(255,0,0,0);
float:left;
line-height: 9.5vw;
color: white;
font-size: 2.4vw;
font-weight: 900;
}
.div09-menu-campo{
width:100%;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-top: 1.9vw;
}
.div09-menu{
width:19.2vw;
height:auto;
background-color:rgba(239, 66, 111,0);
float:left;
padding-left: 0.5vw;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
}
.div09-menu-btn{
width:16.5vw;
height:5.8vw;
background-color:rgb(64, 70, 74);
float:left;
border: 0.1vw solid rgb(42, 46, 49);
padding-left: 2.6vw;
color: white;
line-height: 5.7vw;
font-size: 1.5vw;
position:relative;
opacity:1;
z-index: 1;
cursor: pointer;
transition:all 0.2s ease-in-out;
}
.div09-menu-btn:after{
width:1.7vw;
height:1.7vw;
background-color:rgba(255,255,0,0);
position:absolute;
content:'';
margin-top: 2vw;
margin-left: 7vw;
background-image: url("../img/flecha-cinza.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
}
.div09-menu-btn-ativo{
background-color:rgba(255,255,255,1);
color:rgba(239,66,111,1);
font-weight: 900;
border: 0;
margin-top: -0.5vw;
margin-bottom: 0.6vw;
margin-left: -0.4vw;
position:relative;
z-index:1;
transition:all 0.2s ease-in-out;
}
.div09-menu-btn-ativo:after{
background-image: url("../img/flecha-rosa.svg");
}
.div09-menu-btn-ativo:before{
background-color:rgba(255,0,0,0.2);
}
.div09-menu-btn01-sombra{
position:absolute;
width:19.2vw;
height:5.9vw;
background-color:rgba(239, 66, 111,1);
z-index:0;
}
.div09-menu-btn02-sombra{
position:absolute;
width:19.2vw;
height:5.9vw;
background-color:rgba(239, 66, 111,1);
z-index:0;
display: block;
margin-top: 5.9vw;
}
.div09-menu-btn03-sombra{
position:absolute;
width:19.2vw;
height:11.8vw;
background-color:rgba(239, 66, 111,1);
z-index:0;
display: block;
margin-top: 5.9vw;
}
.div09-menu-btn02-sombra-ativa{
display:block;
}
.div09-menu-pagina01{
width:39.5vw;
height:38vw;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 1.1vw;
display:none;
transition:all 0.2s ease-in-out;
}
.div09-menu-pagina02{
width:39.5vw;
height:38vw;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 1.1vw;
display:none;
transition:all 0.2s ease-in-out;
}
.div09-menu-pagina03{
width:39.5vw;
height:38vw;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 1.1vw;
display:none;
transition:all 0.2s ease-in-out;
}
.div09-menu-ativo{
display:block;
transition:all 0.2s ease-in-out;
}
.div09-menu-pagina-btn{
width:17.7vw;
height:5.7vw;
background-color:rgba(29, 35, 39,1);
float:left;
margin-bottom: 0.3vw;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
padding-left: 1.5vw;
color: white;
cursor: pointer;
}
.div09-menu-pagina-btn-nome{
width:12.1vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-top: 1.5vw;
font-size: 0.9vw;
line-height: 1.2vw;
}
.div09-menu-pagina-btn-sub{
width:3.9vw;
height:auto;
background-color:rgba(255,0,0,0);
float:right;
font-size: 0.7vw;
color: rgb(239, 66, 111);
text-align: right;
margin-right: 1.7vw;
margin-top: 1.4vw;
line-height: 1vw;
cursor: pointer;
}
.div09-menu-col{
width:50%;
height:100%;
background-color:rgba(255,0,0,0);
float:left;
}
.div10{
width:100%;
height:10vw;
background-color:rgba(255,255,255,1);
float:left;
box-shadow: 0vw 0.1vw 0.223vw rgba(0,0,0,0.3);
}
.div10-btn{
width:33.23%;
height:100%;
background-color:rgba(255,0,0,0);
float:left;
cursor: pointer;
}
.div10-btn-icone{
width:4vw;
height:4vw;
background-color:rgba(255,0,0,0);
float:left;
background-repeat: no-repeat;
background-position: center center;
background-size: 100% auto;
margin-top: 3vw;
margin-left: 4.4vw;
transition:all 0.1s ease-in-out;
}
.div10-btn-txt{
width:10vw;
height:auto;
background-color:rgba(255,0,0,0);
float:left;
margin-left: 1.4vw;
margin-top: 3vw;
font-size: 1.5vw;
line-height: 1.9vw;
font-weight: normal;
transition:all 0.1s ease-in-out;
}
.div10-btn:hover .div10-btn-txt{
font-weight: 800;
transition:all 0.1s ease-in-out;
}
.div10-btn01 .div10-btn-icone{
background-image:url("../img/envelope.svg");
transition:all 0.1s ease-in-out;
}
.div10-btn02 .div10-btn-icone{
background-image:url("../img/telefone.svg");
transition:all 0.1s ease-in-out;
}
.div10-btn03 .div10-btn-icone{
background-image:url("../img/whatsapp-cinza.svg");
transition:all 0.1s ease-in-out;
}
.div10-btn01:hover .div10-btn-icone{
background-image:url("../img/envelope-cor.svg");
transition:all 0.1s ease-in-out;
}
.div10-btn02:hover .div10-btn-icone{
background-image:url("../img/telefone-cor.svg");
transition:all 0.1s ease-in-out;
}
.div10-btn03:hover .div10-btn-icone{
background-image:url("../img/whatsapp.svg");
transition:all 0.1s ease-in-out;
}
.footer{
width:100%;
height:12vw;
background-color:rgba(255,0,0,0);
float:left;
}
.footer-logo{
width:5vw;
height:2vw;
background-color:rgba(255,0,0,0);
float:left;
background-image: url("../img/14.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: auto 1.8vw;
margin-top: 3.7vw;
}
.footer-redes-sociais{
width:13vw;
height:2vw;
background-color:rgba(255,0,0,0);
float:right;
margin-top: 3.9vw;
}
.footer-redes-sociais-btn{
width:20%;
height:100%;
background-color:rgba(255,0,0,0);
float:left;
background-repeat: no-repeat;
background-position: center center;
background-size:auto 1.1vw;
cursor: pointer;
}
.footer-copyrights{
width:48vw;
height:1.4vw;
background-color:rgba(255,0,0,0);
float:left;
margin-top: 3.1vw;
font-size: 0.7vw;
line-height: 1.4vw;
}
.footer-copyrights a,
.footer-copyrights a:visited,
.footer-copyrights a:active,
.footer-copyrights a:focus{
color:#555;
}
.footer-assinatura{
height:1.4vw;
background-color:rgba(255,0,0,0);
float:right;
margin-top: 3.1vw;
font-size: 0.7vw;
line-height: 1.4vw;
}